{% extends "base.html" %}
{% block extraheader %}
			{% if user.is_authenticated  %} 
			{% else %}
			<section class="login">
			<form action="" method="post">
					{% csrf_token %}
						<div class="signin-form">

							<div class="register_div">
								<p><label for="username"> Username </lable></p>
								<p>{{ form.username }} </p>
								{% if form.username.errors %}<p class="error"> {{ form.username.errors }} </p> {% endif %}
							</div>		
							<div class="register_div">
								<p><label for="password" >Password</label></p>
								<p>{{ form.password }}</p>
								{% if form.password.errors %}<p class="error">{{ form.password.errors }} </p> {% endif %}								
							</div>
							<div class="login-button">
							<button type="submit" class="button1">Login</button>
							</div>
							{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
							<li class="error">{{ error }}</li>
							{% endfor %}
							{% endif %}
						</div>
					</form>
				</section>
			{% endif %}		
{% endblock %}
