{% extends "base.html" %}

{% block content %}

<h1> Create new Idea! </h1>

<form method="POST" action="">{% csrf_token %}
<table>
	<div class="add-idea-form">
	<div class="register_div">
		
		<p><label for="title" {% if login_form.title.errors %} class="error" {% endif %}> Title </lable></p>
		<p class="add-form">{{ form.title }} </p>
		{% if form.title.errors %}<p class="error"> {{ form.title.errors }} </p> {% endif %}
	</div>		
	<div class="register_div">
		<p><label for="description" {% if form.description.errors %} class="error" {% endif %}>Description</label></p>
		<p class="add-form">{{ form.description }}</p>
		{% if form.description.errors %}<p class="error">{{ form.description.errors }} </p> {% endif %}								
	</div>
</table>
<button type="submit" class="button1" id="submit-idea-button">Create!</button>
</form>
</div>
{% endblock %}
